.Contact {
  position        : relative;
  width           : 100%;
  height          : 100%;
  background-color: #f4f4f4;
  vertical-align  : top !important;
  padding         : 0 !important;
}

.Section {}

.SectionItem {
  display         : flex;
  justify-content : flex-start;
  position        : fixed;
  min-height      : 100vh;
  background-color: var(--menu-background);
  overflow-y      : scroll;
  padding         : 100px 60px;
  height          : 100%;
  flex-direction  : column;
  align-items     : flex-end;
}

.SectionHeader {
  position         : absolute;
  right            : -76px;
  top              : 15px;
  font-family      : "Montserrat", sans-serif;
  font-weight      : bold;
  font-size        : 18px;
  color            : #212121;
  -webkit-transform: rotate(90deg);
  transform        : rotate(90deg);
  top              : 125px;
  right            : -25px;
  font-size        : 25px;

  &::after {
    content         : "";
    display         : inline-block;
    height          : 1px;
    background-color: #212121;
    width           : 100%;
    position        : absolute;
    top             : 12px;
    margin-left     : 15px;
  }
}

.SectionSubHeader {
  margin     : 0;
  padding    : 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size  : 16px;
  font-weight: bold;
  text-align : right;
  color      : #212121;
  font-size  : 25px;
}

.SectionSubText {
  font-family: "Roboto", Arial, Tahoma;
  font-size  : 13px;
  line-height: 26px;
  color      : #212121;
  text-align : right;
}

.Icon {
  color           : #ffffff;
  background-color: #212121;
  display         : inline-block;
  padding         : 10px;
  vertical-align  : middle;
  margin-left     : 7px;
  background      : transparent;
  color           : inherit;
}

.Link {
  margin-top: 18px;
  text-align: right;

  a {
    color     : #fff !important;
    background: #2196f3;
    padding   : 12px 32px;

    font-size      : 13px;
    font-family    : Montserrat, sans-serif;
    font-weight    : 700;
    background     : #2196f3;
    text-decoration: none;
    position       : relative;
    display        : inline-block;
  }
}

.TextList {
  text-align: right !important;
  padding   : 0;
  list-style: none;

  li {
    color          : #212121;
    text-decoration: none;
    cursor         : pointer;
    font-size      : 14px;
    line-height    : 21px;
    font-weight    : 400;
    font-family    : Montserrat, sans-serif;

    a {
      background-color: transparent;
      text-decoration : none;
      color           : #1e87f0;
    }
  }
}

.Social {
  margin-top: 18px;
}