.contentWrapper {
  background-color: #fff;
  color           : #000;
  height          : 100%;
  overflow        : hidden;
  overflow-y      : auto;
}

.titleContainer {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
}

.titleText {
  font-size  : 60px;
  font-weight: 900;
}

.titleLogo {
  width       : 120px;
  margin-right: 15px;
}

.blockText {
  color: #000;

  p {
    border-left: 2px solid #212121;
    padding-left: 8px;
  }
}