.cafe-page {
  .subscribe-submit {
    float: none;

    &:after {
      background: none;
    }
  }
}

.delivery-list {
  display: flex;
  justify-content: space-between;
}

.delivery-item {
  margin-right: 10px;
  float: left;
  width: 100px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

blockquote {
  background: url(https://4.bp.blogspot.com/-W1mYmOOgIGw/V1FCMbeSPLI/AAAAAAAAAeI/mWxT2qK37PYD4XZ711T0sp-pb8nZFXCJwCLcB/s320/bg-quote1.png) no-repeat;
  color: #a5a4a4;
  font-style: italic;
  margin: 30px !important;
  padding: 0 1px 0 75px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > p {
    margin-left: 15px;
  }
}

.registration-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .cd-half-block {
    width: 50%;
  }
}
