/* --------------------------------

Slider

-------------------------------- */

.cd-slider-wrapper {
  position: relative;
  height: 100vh;
  padding: 10px;
}

@media only screen and (min-width: 992px) {
  .cd-slider-wrapper {
    padding: 30px;
  }
}

.cd-slider {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.cd-slide-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;

  &.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.cd-slider {
  .cd-half-block {
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .image {
    background-size: cover;
  }

  .content {
    padding: 30px;
    color: #ffffff;

    /*background-color: #767070;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .light-bg {
    color: rgba(0, 0, 0, 0.6);
  }

  .btn {
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    padding: 1em 1.6em;
    margin-top: 1em;
    font-size: 1.3rem;
    color: #ffffff;
    border-radius: 50em;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
  }
}

/*
.cd-slide-item:first-of-type .image {
  background-image: url(../images/upload/img-1.jpg);
}
.cd-slide-item:nth-of-type(2) .image {
  background-image: url(../images/upload/img-2.jpg);
}
.cd-slide-item:nth-of-type(3) .image {
  background-image: url(../images/upload/img-3.jpg);
}
.cd-slide-item:nth-of-type(4) .image {
  background-image: url(../images/upload/img-4.jpg);
}
*/

.no-touch .cd-slider .btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

/*
.cd-slide-item:nth-of-type(2) .content {
  background-color: #ccd0c1;
}
.cd-slide-item:nth-of-type(3) .content {
  background-color: #f3b96c;
}
.cd-slide-item:nth-of-type(4) .content {
  background-color: #f46c6a;
}
.cd-slider h2 {
  font-size: 2.2rem;
  margin-bottom: .4em;
}
.cd-slider p {
  font-size: 1.4rem;
}
.cd-slider h2, .cd-slider p {
  line-height: 1.4;
}
*/
@media only screen and (min-width: 992px) {
  .cd-slide-item {
    pointer-events: none;
    z-index: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: z-index 0s 0.6s;
    -moz-transition: z-index 0s 0.6s;
    transition: z-index 0s 0.6s;

    &.is-visible {
      pointer-events: auto;
      z-index: 3;
      -webkit-transition: z-index 0s 0s;
      -moz-transition: z-index 0s 0s;
      transition: z-index 0s 0s;

      &.covered {
        /* list item still there, but covered by the list item entering the viewport (.is-visible) */
        z-index: 2;
      }
    }
  }

  .cd-slider .cd-half-block {
    height: 100%;
    width: 50%;
    float: right;

    &.content {
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transform: translateX(200%);
      -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
      -moz-transition: -moz-transform 0.6s 0s ease-in-out;
      transition: transform 0.6s 0s ease-in-out;
    }

    &.image {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0s 0.3s;
      -moz-transition: -moz-transform 0s 0.3s;
      transition: transform 0s 0.3s;
    }
  }

  .cd-slide-item.is-visible .cd-half-block {
    &.content, &.image {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }

    &.content {
      -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
      -moz-transition: -moz-transform 0.6s 0s ease-in-out;
      transition: transform 0.6s 0s ease-in-out;
    }
  }

  .cd-slider {
    .content {
      /* vertically align its content */
      display: table;
      padding: 0 40px;

      > div {
        /* vertically align <div> inside div.content */
        display: table-cell;
        vertical-align: middle;
      }
    }

    .btn {
      padding: 1.4em 2em;
      font-size: 1.4rem;
    }
  }

  /*
  .cd-slider p {
    font-size: 1.6rem;
  }
  .cd-slider h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  .cd-slider h2, .cd-slider p {
    line-height: 2;
  }
  */
}

@media only screen and (min-width: 1200px) {
  .cd-slider .content {
    padding: 0 90px;
  }

  /*
  .cd-slider h2 {
    font-weight: 300;
  }
  */
}

/* --------------------------------

Slider Navigation

-------------------------------- */

.cd-slider-navigation {
  /* you won't see this element in the html but it will be created using jQuery */
  position: absolute;
  z-index: 3;
  left: 50%;
  right: auto;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.8);

  /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
  -webkit-transform: translateZ(2px) translateX(-50%);
  -moz-transform: translateZ(2px) translateX(-50%);
  -ms-transform: translateZ(2px) translateX(-50%);
  -o-transform: translateZ(2px) translateX(-50%);
  transform: translateZ(2px) translateX(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;

  &.slider-animating {
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  li {
    display: inline-block;
    margin: 0 .25em;
  }

  a {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/*
.cd-slider-navigation li.selected a {
  background-color: transparent;
  color: #f3b96c;
}
*/

/*
@media only screen and (min-width: 992px) {
  .cd-slider-navigation {
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateZ(2px) translateX(-50%);
    -moz-transform: translateZ(2px) translateX(-50%);
    -ms-transform: translateZ(2px) translateX(-50%);
    -o-transform: translateZ(2px) translateX(-50%);
    transform: translateZ(2px) translateX(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-slider-navigation.slider-animating {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  .cd-slider-navigation a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: 0;
    border: none;
    border-radius: 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cd-slider-navigation li.selected a {
    background-color: transparent;
    color: #f3b96c;
  }
}
*/
